body {
    background-color: rgb(199, 199, 199);
    text-align: left;
}

.container {
    background-color: white;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 2%;
    margin-top: 15px;
}

.grid-container {
    text-align: center;
}

h1 {
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

/* Share Buttons */

.share-btn-container {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .share-btn-container a i {
    font-size: 32px;
  }
  
  .share-btn-container a {
    margin: 12px 0;
    transition: 500ms;
  }
  
  .share-btn-container a:hover {
    transform: scale(1.2);
  }
  
  .share-btn-container .fa-facebook {
    color: #3b5998;
  }
  
  .share-btn-container .fa-twitter {
    color: #1da1f2;
  }
  
  .share-btn-container .fa-linkedin {
    color: #0077b5;
  }
  
  .share-btn-container .fa-pinterest {
    color: #bd081c;
  }
  
  .share-btn-container .fa-instagram {
    color: #f46f30;
  }
  
  /* Media Queries */
  
  @media (max-width: 1000px) {
    .content {
      padding: 8px 32px;
    }
  
    .share-btn-container {
      transform: unset;
      top: unset;
      left: 0;
      bottom: 0;
      width: 100%;
      flex-direction: row;
      box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
      padding: 16px 0;
      justify-content: center;
    }
  
    .share-btn-container a {
      margin: 0 32px;
    }
  }
